.contentWr {
    padding: 1em;
    margin: 1em;
}

.sevenDaysWeather {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.sevenDaysWeather h5{
    text-align: center;
}

.header {
    font-family: SansSerif, fantasy;
    font-size: large;
    display: flex;
    justify-content: center;

}

.content span {
    font-size: large;
    font-weight: bold;
}
.dayOfWeeksItem{
    text-align: center;
}